#loadingPage {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  background-color: rgba(0,0,0,0.05);
  z-index: 9999;
  img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 500px;
  }
}
